[Unit]
Description=Tools Installer
Wants=network-ping.service NetworkManager-wait-online.service
After=network-ping.service NetworkManager-wait-online.service
Before=zincati.service
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rpm-ostree install -y --apply-live --allow-inactive https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-42.noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-42.noarch.rpm
ExecStart=/usr/bin/rpm-ostree install -y --apply-live --allow-inactive avahi avahi-tools bluez borgbackup ffmpeg micro intel-media-driver intel-media-driver nss-mdns ripgrep eza bat
ExecStart=systemctl start avahi-daemon
ExecStart=usermod -aG render media
ExecStart=usermod -aG video media
ExecStart=/bin/touch /var/lib/%N.stamp
ExecStart=systemctl reboot

[Install]
WantedBy=multi-user.target
