[Unit]
Description=Set Default Access to Home Assistant Config for Backup
Wants=network-online.target
After=network-online.target
Before=zincati.service
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=setfacl -d -m g:aivault:rwx /var/mnt/vault/ai/New
ExecStart=setfacl -d -m g::rwx /var/mnt/vault/ai/New
ExecStart=setfacl -d -m o::-- /var/mnt/vault/ai/New
ExecStart=chmod g+rwxs /var/mnt/vault/ai/New
ExecStart=/bin/touch /var/lib/%N.stamp

[Install]
WantedBy=multi-user.target
