[Unit]
Description=Mosquitto Password Generator
Wants=network-ping.service
After=network-ping.service
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/usr/local/etc/home.env
ExecStart=/bin/podman run --rm \
  -v /var/mnt/vault/.config/mosquitto/config:/mosquitto/config:Z \
  -v /var/mnt/vault/.config/mosquitto/data:/mosquitto/data:Z \
  -v /var/mnt/vault/.config/mosquitto/log:/mosquitto/log:Z \
  --user 1014:1014 \
  --userns=keep-id \
  docker.io/eclipse-mosquitto:latest \
  mosquitto_passwd -b /mosquitto/config/passwords home ${PASSWORD}
ExecStart=/bin/touch /var/lib/%N.stamp

[Install]
WantedBy=multi-user.target
