[Unit]
Description=Access to Video Driver
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=usermod -aG render media
ExecStart=usermod -aG video media
ExecStart=/bin/touch /var/lib/%N.stamp

[Install]
WantedBy=multi-user.target
