[Unit]
Description=Set Default Access in Torrent Files
Before=zincati.service
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=setfacl -d -m g:aivault:rwx /var/mnt/vault/ai/Selected
ExecStart=setfacl -d -m g:aivault:rwx /var/mnt/vault/ai/New
ExecStart=setfacl -d -m g::rwx /var/mnt/vault/ai/Selected
ExecStart=setfacl -d -m g::rwx /var/mnt/vault/ai/New
ExecStart=setfacl -d -m o::-- /var/mnt/vault/ai/Selected
ExecStart=setfacl -d -m o::-- /var/mnt/vault/ai/New
ExecStart=setfacl -d -m g:aivault:rwx /var/mnt/vault/.cache/transmission/incomplete
ExecStart=setfacl -d -m g::rwx /var/mnt/vault/.cache/transmission/incomplete
ExecStart=setfacl -d -m o::-- /var/mnt/vault/.cache/transmission/incomplete
ExecStart=setfacl -d -m g:share:rwx /var/mnt/vault/shared
ExecStart=setfacl -d -m g::rwx /var/mnt/vault/shared
ExecStart=setfacl -d -m o::rwx /var/mnt/vault/shared
ExecStart=chmod g+rwxs /var/mnt/vault/ai/Selected
ExecStart=chmod g+rwxs /var/mnt/vault/ai/New
ExecStart=chmod g+rwxs /var/mnt/vault/.cache/transmission/incomplete
ExecStart=chmod g+rwxs /var/mnt/vault/shared
ExecStart=/bin/touch /var/lib/%N.stamp

[Install]
WantedBy=multi-user.target
