[Unit]
Description=Avahi Aliases Publisher
After=avahi-installer.service avahi-daemon.service
Requires=installer.service

[Service]
User=domains
Group=domains
; Restart=on-failure
ExecStart=/usr/local/bin/avahi-publisher.sh

[Install]
WantedBy=multi-user.target
