[Unit]
Description=Load Balancer Server
Wants=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
User=domains
Group=domains
; Restart=on-failure
Environment=REGISTRY_AUTH_FILE="/usr/local/etc/docker-auth.json"
ExecStartPre=-/bin/podman kill balancer
ExecStartPre=-/bin/podman rm balancer
ExecStartPre=/bin/podman pull docker.io/nginxinc/nginx-unprivileged:1-alpine
ExecStartPre=/bin/podman unshare chown 101:101 \
             /usr/local/etc/ssl/ssl.key /usr/local/etc/nginx/dhparam.pem
ExecStart=/bin/podman run \
          --read-only \
          --network host \
          -p 8080:8080 \
          -p 8443:8443 \
          -v /usr/local/etc/ssl/:/usr/local/etc/ssl/ \
          -v /usr/local/etc/nginx/:/usr/local/etc/nginx/ \
          -v /usr/local/etc/nginx/conf.d/:/etc/nginx/conf.d/ \
          --name balancer \
          --label "io.containers.autoupdate=registry" \
          docker.io/nginxinc/nginx-unprivileged:1-alpine
ExecStop=/bin/podman stop -t 10 balancer

[Install]
WantedBy=multi-user.target
