[Unit]
Description=HTTP/HTTPS Ports for Non-Root
Wants=network-online.target
After=network-online.target
Before=zincati.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=iptables -t nat -A OUTPUT -o lo -p tcp --dport 443 -j REDIRECT --to-port 8443
ExecStart=iptables -t nat -A OUTPUT -o lo -p tcp --dport 80 -j REDIRECT --to-port 8080
ExecStart=iptables -t nat -A PREROUTING -p tcp --dport 443 -j REDIRECT --to-port 8443
ExecStart=iptables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 8080
ExecStart=iptables -t nat -A PREROUTING -p tcp --dport 445 -j REDIRECT --to-port 1445

[Install]
WantedBy=multi-user.target
