[Unit]
Description=Internet Ping Test
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sh -c 'until ping -c 1 google.com; do sleep 1; done'

[Install]
WantedBy=multi-user.target
