[Unit]
Description=Glances Server
Wants=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
User=status
Group=status
; Restart=on-failure
Environment=REGISTRY_AUTH_FILE="/usr/local/etc/docker-auth.json"
ExecStartPre=-/bin/podman kill glances
ExecStartPre=-/bin/podman rm glances
ExecStartPre=/bin/podman pull docker.io/nicolargo/glances:alpine-latest-full
ExecStart=/bin/podman run \
          --read-only \
          -p 61208-61209:61208-61209 \
          -e GLANCES_OPT="-w" \
          -v /var/run/docker.sock:/var/run/docker.sock:ro \
          --pid host \
          --network host \
          --name glances \
          --label "io.containers.autoupdate=image" \
          docker.io/nicolargo/glances:alpine-latest-full
ExecStop=/bin/podman stop -t 10 glances

[Install]
WantedBy=multi-user.target
