[Unit]
Description=Micro Installer
Wants=network-online.target
After=network-online.target
Before=zincati.service
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rpm-ostree install --apply-live --allow-inactive micro
ExecStart=/bin/touch /var/lib/%N.stamp

[Install]
WantedBy=multi-user.target
