[Unit]
Description=VaultWarden
After=network-online.target
Wants=network-online.target

[Service]
User=vaultwarden
Group=vaultwarden
Restart=on-failure
Environment=REGISTRY_AUTH_FILE="/usr/local/etc/docker-auth.json"
ExecStartPre=-/bin/podman kill vaultwarden
ExecStartPre=-/bin/podman rm vaultwarden
ExecStartPre=/bin/podman pull docker.io/vaultwarden/server:alpine
ExecStart=/bin/podman run \
          -e SIGNUPS_ALLOWED=false \
          -v /media/warden/:/data/ \
          -p 80:8011 \
          --name vaultwarden \
          --label "io.containers.autoupdate=image" \
          docker.io/vaultwarden/server:alpine
ExecStop=/bin/podman stop -t 10 vaultwarden

[Install]
WantedBy=multi-user.target
