[Unit]
Description=Video Driver Installer
Wants=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service borg.service
Before=zincati.service
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=usermod -aG render media
ExecStart=usermod -aG video media
ExecStart=/usr/bin/rpm-ostree install -y --apply-live --allow-inactive https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-40.noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-40.noarch.rpm
ExecStart=/usr/bin/rpm-ostree install -y --apply-live --allow-inactive intel-media-driver
ExecStart=/bin/touch /var/lib/%N.stamp

[Install]
WantedBy=multi-user.target
