[Unit]
Description=Samba Server
Wants=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
User=share
Group=share
; Restart=on-failure
Environment=REGISTRY_AUTH_FILE="/usr/local/etc/docker-auth.json"
ExecStartPre=-/bin/podman kill samba
ExecStartPre=-/bin/podman rm samba
ExecStartPre=/bin/podman pull docker.io/servercontainers/samba:smbd-only-latest
ExecStart=/bin/podman run \
          -p 1139:139 -p 1445:445 \
          -e AVAHI_DISABLE=1 \
          -v /var/mnt/vault/shared:/shares \
          --name samba \
          --label "io.containers.autoupdate=image" \
          docker.io/servercontainers/samba:smbd-only-latest
ExecStop=/bin/podman stop -t 10 samba

[Install]
WantedBy=multi-user.target
